/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  } */
.yt-lite::before {
  content: none !important;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #717171;
  border-radius: 10px;
  border: 2px solid #717171;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3e3d3d;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }
  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }
  .layout {
    max-width: 68rem;
    @apply mx-auto w-11/12;
  }
  .cursor-newtab {
    cursor: url("/images/new-tab.png") 10 10, pointer;
  }
  .scroll-to-top {
    background-color: #383833;
    right: 40px;
    bottom: 40px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    align: center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    transition: opacity 1s ease-in-out;
    /* box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28); */
    border: none;
    outline: none;
  }

  .scroll-to-top:active {
    transform: matrix(0.95, 0, 0, 0.95, 0, 0);
  }

  .un {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(#ffbf00, #f28c28);
    background-position: 0 100%;
    /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s;
  }

  .un:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
  }
}
@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, #3f87a6, #ebf8e1);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  .animate-shadow {
    @apply after:absolute after:inset-0 after:z-[-1] after:opacity-0 after:transition-opacity hover:after:opacity-100;
    @apply after:shadow-md dark:after:shadow-none;
  }
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, #ff791f, #ffcb57);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }

  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }

  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

/* #region  /**=========== Fade In =========== */
[data-fade] {
  @apply translate-y-10 opacity-0 transition duration-[400ms] ease-out motion-reduce:translate-y-0 motion-reduce:opacity-100;
}
.fade-in-start [data-fade] {
  @apply translate-y-0 opacity-100;
}
.fade-in-start [data-fade="1"] {
  transition-delay: 100ms;
}
.fade-in-start [data-fade="2"] {
  transition-delay: 200ms;
}
.fade-in-start [data-fade="3"] {
  transition-delay: 300ms;
}
.fade-in-start [data-fade="4"] {
  transition-delay: 400ms;
}
.fade-in-start [data-fade="5"] {
  transition-delay: 500ms;
}
.fade-in-start [data-fade="6"] {
  transition-delay: 600ms;
}
.fade-in-start [data-fade="7"] {
  transition-delay: 700ms;
}
.fade-in-start [data-fade="8"] {
  transition-delay: 800ms;
}
/* #endregion  /**======== Fade In =========== */
